In [25]:
# import the pandas library
import pandas as pd
import os
import pyodbc
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# import zipfile library (we will use this to extract the file downloaded from Kaggle)
import zipfile

# import kaggle library (we will use this to download the dataset programatically from Kaggle)
import requests
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [26]:
# Difine address of the kaggle dataset
dataset = 'hmavrodiev/london-bike-sharing-dataset'

# Download the dataset file to a temporary location
api.dataset_download_files(dataset, path='./', unzip=False)

# Extract the dataset file from the downloaded ZIP file
with zipfile.ZipFile('london-bike-sharing-dataset.zip', 'r') as z:
    file_name = z.namelist()[0]
    with z.open(file_name) as f:
        # Read directly into a pandas DataFrame
        bikes = pd.read_csv(f)

# Optionally, remove the downloaded ZIP file
os.remove('london-bike-sharing-dataset.zip')

# Convert timestamp column in DataFrame to datetime

# Display the DataFrame
print(bikes.head())

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
             timestamp  cnt   t1   t2    hum  wind_speed  weather_code  \
0  2015-01-04 00:00:00  182  3.0  2.0   93.0         6.0           3.0
1  2015-01-04 01:00:00  138  3.0  2.5   93.0         5.0           1.0
2  2015-01-04 02:00:00  134  2.5  2.5   96.5         0.0           1.0
3  2015-01-04 03:00:00   72  2.0  2.0  100.0         0.0           1.0
4  2015-01-04 04:00:00   47  2.0  0.0   93.0         6.5           1.0

   is_holiday  is_weekend  season
0         0.0         1.0     3.0
1         0.0         1.0     3.0
2         0.0         1.0     3.0
3         0.0         1.0     3.0
4         0.0         1.0     3.0

In [27]:
bikes.head(20)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,1.0,0.0,1.0,3.0
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,4.0,0.0,1.0,3.0
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,3.0,0.0,1.0,3.0
10,2015-01-04 10:00:00,528,3.0,-0.5,93.0,12.0,3.0,0.0,1.0,3.0
11,2015-01-04 11:00:00,727,2.0,-1.5,100.0,12.0,3.0,0.0,1.0,3.0
12,2015-01-04 12:00:00,862,2.0,-1.5,96.5,13.0,4.0,0.0,1.0,3.0
13,2015-01-04 13:00:00,916,3.0,-0.5,87.0,15.0,3.0,0.0,1.0,3.0
14,2015-01-04 14:00:00,1039,2.5,0.0,90.0,8.0,3.0,0.0,1.0,3.0
15,2015-01-04 15:00:00,869,2.0,-1.5,93.0,11.0,3.0,0.0,1.0,3.0
16,2015-01-04 16:00:00,737,3.0,0.0,93.0,12.0,3.0,0.0,1.0,3.0
17,2015-01-04 17:00:00,594,3.0,0.0,93.0,11.0,3.0,0.0,1.0,3.0
18,2015-01-04 18:00:00,522,3.0,1.5,93.0,6.5,3.0,0.0,1.0,3.0
19,2015-01-04 19:00:00,379,3.0,1.0,93.0,7.0,3.0,0.0,1.0,3.0

In [28]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [29]:
bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [30]:
# count the unique values in the weather_code column
value_counts  = bikes.weather_code.value_counts()
percentage = ((value_counts / value_counts.sum()) * 100).round(2)
percentage

weather_code
1.0     35.32
2.0     23.17
3.0     20.39
7.0     12.29
4.0      8.41
26.0     0.34
10.0     0.08
Name: count, dtype: float64

In [31]:
# count the unique values in the season column
bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [32]:
# specifying the column names that I want to use
new_cols_dict ={
    'timestamp':'timestamp',
    'cnt':'counts', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [33]:
# changing the humidity values to percentage (i.e. a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [34]:
# Retrieve connection parameters from environment variables
server = os.getenv('SERVER')
database = os.getenv('DATABASE')
username = os.getenv('USER')
password = os.getenv('PASSWORD')
table_name = os.getenv('TABLE')

connection_string = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'
conn = pyodbc.connect(connection_string)
cursor = conn.cursor()
print(table_name)

London_bikes_final

In [35]:
# Insert and check data into SQL Server table
# Get column names from DataFrame
columns = bikes.columns.tolist()

# Create the placeholders for the SQL INSERT statement
placeholders = ', '.join(['?' for _ in columns])
column_names = ', '.join(columns)

# Create the SQL INSERT statement
insert_sql = f"INSERT INTO {table_name} ({column_names}) VALUES ({placeholders})"

timestamp_column = 'timestamp'  # Replace with your actual timestamp column name
def get_latest_timestamp(cursor, table_name, timestamp_column):
    query = f"SELECT MAX({timestamp_column}) FROM {table_name}"
    cursor.execute(query)
    latest_timestamp = cursor.fetchone()[0]
    if latest_timestamp and isinstance(latest_timestamp, str):
        latest_timestamp = pd.to_datetime(latest_timestamp)
    return latest_timestamp

# Get the latest timestamp from the table
latest_timestamp = get_latest_timestamp(cursor, table_name, timestamp_column)
print(f"Latest timestamp: {latest_timestamp}")

# Insert data into SQL Server table
for index, row in bikes.iterrows():
    data_timestamp = pd.to_datetime(row[timestamp_column], errors='coerce')

    if latest_timestamp is None or (data_timestamp > latest_timestamp):
        cursor.execute(insert_sql, tuple(row))
        print(f"Inserted row {index}.")
    else:
        print(f".")

# Commit the transaction
conn.commit()

cursor.close()
conn.close()

print("Finish")

Latest timestamp: None

ProgrammingError: ('42S22', "[42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'count'. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Statement(s) could not be prepared. (8180)")

In [ ]:
# FINISHED INSERT DATA TO DATABASE